branches/nano_vis_term/source/WCFNanoGui/WCFNanoGui/Service References/NanoVisualizerService/VisualizerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="VisualizerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ep0_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ep1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/WCFVisualizer/VisualizerService/?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/WCFVisualizer/VisualizerService/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/WCFVisualizer/VisualizerService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/WCFVisualizer/VisualizerService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVisualizerService_uploadCubeFile_InputMessage">
    <wsdl:part name="parameters" element="tns:uploadCubeFile" />
  </wsdl:message>
  <wsdl:message name="IVisualizerService_uploadCubeFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:uploadCubeFileResponse" />
  </wsdl:message>
  <wsdl:message name="IVisualizerService_visualizeCubeFile_InputMessage">
    <wsdl:part name="parameters" element="tns:visualizeCubeFile" />
  </wsdl:message>
  <wsdl:message name="IVisualizerService_visualizeCubeFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:visualizeCubeFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IVisualizerService">
    <wsdl:operation name="uploadCubeFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisualizerService/uploadCubeFile" message="tns:IVisualizerService_uploadCubeFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisualizerService/uploadCubeFileResponse" message="tns:IVisualizerService_uploadCubeFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="visualizeCubeFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisualizerService/visualizeCubeFile" message="tns:IVisualizerService_visualizeCubeFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisualizerService/visualizeCubeFileResponse" message="tns:IVisualizerService_visualizeCubeFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ep0" type="tns:IVisualizerService">
    <wsp:PolicyReference URI="#ep0_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadCubeFile">
      <soap:operation soapAction="http://tempuri.org/IVisualizerService/uploadCubeFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="visualizeCubeFile">
      <soap:operation soapAction="http://tempuri.org/IVisualizerService/visualizeCubeFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ep1" type="tns:IVisualizerService">
    <wsp:PolicyReference URI="#ep1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadCubeFile">
      <soap:operation soapAction="http://tempuri.org/IVisualizerService/uploadCubeFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="visualizeCubeFile">
      <soap:operation soapAction="http://tempuri.org/IVisualizerService/visualizeCubeFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VisualizerService">
    <wsdl:port name="ep0" binding="tns:ep0">
      <soap:address location="http://localhost:8731/Design_Time_Addresses/WCFVisualizer/VisualizerService/ep0" />
    </wsdl:port>
    <wsdl:port name="ep1" binding="tns:ep1">
      <soap:address location="http://localhost:8731/Design_Time_Addresses/WCFVisualizer/VisualizerService/ep1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>